@media screen and (max-width:1200px){
	
}
@media screen and (max-width:991px){
	.device img{right:0;top:0}
}
@media screen and (max-width:768px){
	.device img{position: inherit;}
	.device {text-align:center;}
	.hero h1{margin-top:0;}
}
@media screen and (max-width:640px){
	
}
@media screen and (max-width:465px){
	.hero h1{font-size:40px;}
}